doctype html
html
    head <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        title Jade for DBase
    body
        div
            each val in quotes
                mixin team(id, firstName, lastName, description)
                    li(class="label label-success") #{val.id} : #{val.firstName} #{val.lastName} 
                ul#team
                   +team{};
        div
            each val in quotes
                p(class="label label-success")= val.id+' : '+ val.firstName+ ' ' + val.lastName
       