body {
    margin: 10px;
}
.spoiler {
    display: none;
}

.trigger.close {
    display: none;
}

.trigger.open:target {
    display: none;
}

.trigger.open:target + .trigger.close {
    display: inline;
}

.trigger.open:target + .trigger.close + .spoiler {    
    display: block;
}