body {
    margin: 15px;
}
.spoiler {
    display: none;
}

.trigger.close {
    display: none;
}

.trigger.open:target {
    display: none;
}

.trigger.open:target + .trigger.close {
    display: inline;
}

.trigger.open:target + .trigger.close + .spoiler {    
    display: block;
}
.nameTable {
    text-align: center;
}
.firstRow th {
    background-color: #eee;
    text-align: center;
}
.delEdit {
    text-align: center;
}
